<div id="promo">
  My Documents<strong> \ </strong><%= @user.login %>.txt
  <!--Updated <%= time_ago_in_words(@user.updated_at) %> ago.
  <div id="stats""'>Stats for nerds: <%= pluralize(@user.content.split.count, 'word') %>, <%= pluralize(@user.content.split('').count, 'character') %></div>-->
</div>

<div class="stack">
  <div class="layer_1">
    <div class="layer_2">
      <div class="layer_3">
        <%= text_area_tag :content, @user.content, :class => 'contents', :spellcheck => 'true' %>
      </div>
    </div>
  </div>
</div>

<div id="controls">

  <% if @user.has_password %>
    <% link_to('/logout/' + @user.login, :title => 'Logout') do  %>
      <img src="/images/padlock.png" width="8" height="13" />
    <% end %>
  <% end %>

  <span class="bubble_wrapper">
    <a href="#change_url" onclick="justClickedBubble = true;">change url</a>

    <div class="bubble" id="bubble_for_change_url" style="display:none;" onclick="justClickedBubble = true;">
      <div class="highlight"></div>

      <div class="message" id="message_for_change_url_unavailable" style="display:none;">URL is unavailable</div>

      <%= form_tag('/options/change_url/' + @user.login, :id => 'change_url_form') do %>
      <%= text_field_tag :url, @user.login, :class => 'text_input', :id => 'change_url_input' %><%= submit_tag 'save', :class => 'button', :id => 'change_url_button' %>
      <% end %>


      <div class="nipple"></div>
    </div>
  </span>

  <% if !@user.has_password %>
    <span class="bubble_wrapper">
      <a href="#add_password" onclick="justClickedBubble = true;">add password</a>

      <div class="bubble" id="bubble_for_set_password" style="display:none;" onclick="justClickedBubble = true;">
          <div class="highlight"></div>

          <%= form_tag('/options/add_password/' + @user.login) do %>
          <%= password_field_tag :password, '', :class => 'text_input', :id => 'add_password_input' %><%= submit_tag 'save', :class => 'button' %>
          <% end %>

          <div class="nipple"></div>
      </div>
    </span>
  <% end %>

  <% if @user.has_password %>
    <%= link_to 'remove password', '/options/remove_password/' + @user.login  %>
  <% end %>

</div>


<script type="text/javascript">

var hasChanged = false;
var justClickedBubble = false;
var preventSubmit = true;

function saveContent()
{
  if (hasChanged) {
    $.post(
      "/options/save_content/" + "<%= escape_javascript(@user.login) %>",
      {content: $("textarea.contents").val() },
      function(data){
    });

    hasChanged = false;
  }

  setTimeout("saveContent();", 1000);
}

function checkExistence()
{
  $("#message_for_change_url_unavailable").hide();

  $.get("/options/check_existence/" + $("#change_url_input").val(), function(data)
  {
    if (data == "true") {
      $("#message_for_change_url_unavailable").show();
    } else {
      $("#message_for_change_url_unavailable").hide();
      preventSubmit = false;
      $('#change_url_form').submit();
    }
  });
}

$("textarea.contents").keyup(function() {
  hasChanged = true;
});

function closeIt()
{
  if (hasChanged) {
    return "You have unsaved content.\n\nPlease wait a few seconds before leaving the page. The content will save automatically.";
  }
}

window.onbeforeunload = closeIt;

$(document).ready(function() {
  saveContent();

  $(window).click(function() {
    if (justClickedBubble) {
      justClickedBubble = false;
    } else {
      $(".bubble").hide();
    }
  });

  $("[href='#add_password']").click(function() {
    $(".bubble").hide();
    $("#bubble_for_set_password").show();
    $("#add_password_input").focus();
  });

  $("[href='#change_url']").click(function() {
    $(".bubble").hide();
    $("#bubble_for_change_url").show();
    $("#change_url_input").focus();
  });

  $("#change_url_form").submit(function() {
    if (preventSubmit) {
      checkExistence();
      return false;
    }
  });
});

</script>

