<%= form_for(@user, :url => '/options/content/save/' + @user.login) do |f| %>

<div id="promo">
  Hello, <strong><%= @user.login %></strong>!
  <% if @user.updated_ago != '0 seconds ago' %>
    Notepad was updated <%= @user.updated_ago %>.
  <% end %>
  Stats for nerds: <%= @user.content.split.count %> words, <%= @user.content.split('').count %> characters
</div>

<div class="stack ">
  <div class="layer_1">
    <div class="layer_2">
      <div class="layer_3">
        <%= f.text_area :content, :class => "contents", :spellcheck => "true" %>
      </div>
    </div>
  </div>
</div>

<div id="controls">

  <% if !@user.has_password %>
    <span class="bubble_wrapper" onclick="just_clicked_bubble = 'set_password';">
        <a href="#" onclick="just_clicked_bubble = 'set_password'; return false;">add password</a>

        <div class="bubble" id="bubble_for_set_password" style="display:none;">
            <div class="highlight"></div>

            <%= f.password_field :password, :class => "text_input", :value => '' %><%= f.submit :class => "button", :value => 'save' %>

            <div class="nipple"></div>
        </div>
    </span>
  <% else %>
    <% link_to('/logout/' + @user.login, :title => 'Logout') do  %>
      <img src="/images/padlock.png" width="8" height="13" />
    <% end %>

    <%= link_to 'remove password', '/options/password/remove/' + @user.login  %>

  <% end %>

  <div class="input_form">
    <%= f.submit :class => "big_button", :value => 'Save', :style => 'position: absolute; right: 80px; bottom: -10px;' %>
  </div>

</div>

<% end %>

