<%= form_for(:user, :url => '/login/' + @login) do |f| %>

<div class="input_form" style="margin: 80px auto 0 auto; margin-bottom:40px;">
  <div class="copy" style="margin-bottom:50px;"><%= flash[:notice] %></div>

  <%= f.hidden_field :login, :value => @login %>

  <div class="input_wrapper">
    <%= f.password_field :password, :class => 'text_input', :value => '', :id => 'pad_password' %>
    <label for="pad_password">password</label>
  </div>

  <div style="text-align:center;">
    <%= f.submit "Sign in", :class => 'big_button', :value => 'Login' %>
  </div>
</div>

<% end %>

